@import "variables";
*{
  box-sizing: border-box;
}
body{
  font-family: $font-primary;
  color: $color-text;
}

$columns: 12;
$column-base-width: 100% / $columns;

@for $i from 1 through $columns {
  .col-#{$i} {
    width: $column-base-width * $i;
  }
}
.row {
  display: flex;
  flex-wrap: wrap;
}

img{
  width: 100%;
}

.container{
  padding: $base-spacing 2%;
  max-width: 1420px;
  margin: 0 auto;
}

p{
  line-height: 1.5em;
}