$color-primary: #393c46;
$color-darkgray: #1d2027;
$color-orange: #fa7615;
$color-pink: #f34f66;
$color-blue: #29c4b7;
$color-purple: #9e47b4;
$color-green: #58b222;
$color-white: #fff;


$color-text: #6d6d6d;

$font-primary: 'Lato', 'Arial', sans-serif;

$base-spacing: 15px;