footer{
  padding: $base-spacing*2 0;
  background-color: $color-primary;
  color: $color-white;
  .foot{
    align-items: center;
    justify-content: center;
    .footer__icons{
      display: flex;
      justify-content: center;
      margin-bottom: $base-spacing;
      .icon-container{
        margin: $base-spacing/3;
        background-color: $color-text;
        padding: $base-spacing/2;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        border: 2px solid $color-white;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    p{
      text-align: center;
      font-size: 32px;
    }
  }
}